:root {
  --red-color: #e31837;
  --red-hover: #950404;
  --white-color: #ffffff;
  --black-color: #222222;
  --yellow-color: #efbb40;
  --bg-div-color: #f2f9fd;
  --copyright-color: #222222bf;
  --color-background: 255, 255, 255;
  --tw-bg-opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito, sans-serif;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

main {
  background-color: rgba(var(--color-background), var(--tw-bg-opacity));
}

.content {
  margin: 8rem 0 5rem;
}

.Button a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--red-color);
  border-radius: 60px 60px;
  padding: 0.8rem 2.35rem;
  font-weight: 900;
  transition: 0.1s;
}

.Button a svg {
  width: 1.25rem;
  vertical-align: middle;
  margin-left: 10px;
}

.Button a:hover {
  background-color: var(--red-hover);
}


@media screen and (max-width: 768px) {
  .content {
    margin: 5rem 0 0;
  }
}